@import "./vars";
@import "./varclass";
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@200;300;400;500;600;700;800&display=swap");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Roboto, sans-serif;
  font-weight: 500;
}
#wrapper {
  max-width: 1400px;
  width: 100%;
  padding: 30px 50px 30px 120px;
}
.primary-heading {
  font-size: 52px;
  margin-bottom: $marginbottom;
}
.secondary-heading {
  font-size: 32px;
  margin-bottom: $cardGap;
}
.users {
  &_active {
    margin-bottom: $marginbottom;
  }
  &_cards {
    flex-wrap: wrap;
    align-items: baseline;
  }
  &_card {
    width: 200px;
    padding: 20px;
    flex-direction: column;
    border: 1px solid #00000033;
    border-radius: 4px;
    &--name {
      text-align: center;
    }
    &--status {
      font-size: 16px;
      padding: 5px 20px;
      border-radius: 34px;
    }
    &--btn {
      border: none;
      font-size: 12px;
      padding: 10px 20px;
      color: #ffffff;
      border-radius: 4px;
      cursor: pointer;
      transition: all 0.3s ease;
      &:hover {
        scale: 1.04;
        transform: translateY(-3px);
        box-shadow: 5px 6px 20px #a39898;
      }
    }
  }
}

#box {
  width: 250px;
  height: 240px;
  color: #fff;
  background: #262626;
  position: relative;
  /* margin: 150px; */
  padding: 30px;
}

#box::after,
#box::before {
  content: "";
  width: calc(100% + 2px);
  height: calc(100% + 2px);
  background: linear-gradient(
    45deg,
    #fb0094,
    #0000ff,
    #00ff00,
    #ffff00,
    #ff0000,
    #fb0094,
    #0000ff,
    #00ff00,
    #ffff00,
    #ff0000
  );
  background-size: 400%;
  position: absolute;
  top: -2px;
  left: -2px;
  z-index: -1;
  animation: animated-shadow 10s linear infinite alternate;
}

#box::after {
  filter: blur(30px);
}

@keyframes animated-shadow {
  0% {
    background-position: 0 0;
  }

  50% {
    background-position: 100% 0;
  }

  100% {
    background-position: 0 0;
  }
}
